.body {
  margin-left: 250px;
  margin-right: 250px;
}

body {
  background-image: url('./images/cork-mono.jpg');
  background-size: cover;
  font-family: 'Cinzel', serif;
  font-weight: 300;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 18px;
}

ol {
  list-style-type: none;
}

li {
  font-size: 22px;
  margin-bottom: 15px;
  padding-right: 40px;
  text-align: center;
}

a {
  color: #b52f4e
}

#name {
  font-size: 65px;
  color: white;
}

.landing {
  background-image: url('./images/cork-color.jpg');
  width: 99%;
  height: 795px;
  margin: 0;
  padding: 0;
  border: #67192bba solid 7px;
}

.card {
  color: white;
  border: #67192bba solid 7px;
  border-radius: 60px / 60px;  
  text-align: center;
  background-color: #330d14ba;
  width: 50%;
  position: relative;
  top: 420px;
  left: 360px;
}

.home {
  color: white;
  font-size: 20px;
  position: relative;
  left: 520px;
  top: 430px;
  background-color: #330d14ba;
  height: 44px;
  width: 400px;
  margin: 10px;
  border-radius: 10px / 15px;
  border: 4px solid #67192bba;
  background-size: cover;
  font-family: 'Cinzel', serif;
}

.slide {
  height: 450px;
}

.slide-large {
  height: 600px;
}

.inner {
  border: solid #333333 2px;
  margin-left: 35px;
  margin-right: 30px;
  padding: 30px;
  height: 280px;
  width: 750px;
  border-radius: 20px / 15px;
}

.inner-slide {
  border: solid #333333 2px;
  margin-left: 85px;
  padding: 30px;
  height: 270px;
  width: 650px;
  background-color: #ffffff47;
  border-radius: 20px / 15px;
}

.inner-slide-large {
  border: solid #333333 2px;
  margin-left: 85px;
  padding: 30px;
  height: 370px;
  width: 650px;
  background-color: #ffffff47;
  border-radius: 20px / 15px;
}

.container {
  display: flex;
}

.carousel-title {
  text-align: center
}

.text {
  text-align: center;
}

.description {
  padding-left: 20px;
  padding-right: 20px;
  width:400px;
  text-align: left;
}

.input {
  height: 30px;
  width: 40%;
  margin: 10px;
  border-radius: 20px / 15px;
  padding: 5px;
}

input:focus {
  outline: none;
}

button:active {
  transform: translateY(1px) translateX(5px);
}

button:focus {
  outline: none;
}

.go {
  color: white;
  height: 34px;
  width: 25%;
  margin: 10px;
  border-radius: 10px / 15px;
  background-color: #bd9356;
  border: 2px solid white;
  background-size: cover;
  font-family: 'Cinzel', serif;
  font-size: 15px;
}

.name {
  color: white;
  position: absolute;
  right: 20px;
}

.title {
  font-size: 35px;
}

.result {
  padding: 20px;
  position: relative;
  top: 20px;
  background-color: #ffffffbd;
  height: 740px;
  border-radius: 20px / 15px;
}

.nav {
  position: absolute;
  bottom: 720px;
  left: 710px;
  width: 20%;
  margin-bottom: 15px;
}

.thumb {
  margin: 15px;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
  margin-right: 40px;
}

.wine-left {
  width: 40%;
}

.wine-right {
  width: 60%;
  margin-right: 40px;
}

.add-space-above {
  margin-top: 20px;
}

.back {
  position: absolute;
  bottom: 740px;
  left: 1000px;
  width: 10%;
}

.picks-left {
  width: 60%;
  padding-right: 20px;
  margin-right: 20px;
}

.picks-right {
  width: 30%;
}

.left-rec {
width: 60%;
padding-right: 20px;
margin-right: 10px;
}

.right-rec {
width: 30%;
position: relative;
bottom: 37px;
}